<h3>Calculator</h3>
<hr>
<input type="number" #txtN1 (change)="n1 = txtN1.value">
<input type="number" #txtN2 (change)="n2 = txtN2.value">
<br>
<input type="button" value="Add" (click)="onAddClick()">
<input type="button" value="Subtract" (click)="onSubtractClick()">
<input type="button" value="Multiply" (click)="onMultiplyClick()">
<input type="button" value="Divide" (click)="onDivideClick()">
<div [ngClass]="{positive : result >= 0, negative : result < 0}">
    {{result}}
</div>

<!-- 
    <input type="number" #txtN1>
<input type="number" #txtN2>
<br>
<input type="button" value="Add" (click)="onAddClick(txtN1.value, txtN2.value)">
<input type="button" value="Subtract" (click)="onSubtractClick(txtN1.value, txtN2.value)">
<input type="button" value="Multiply" (click)="onMultiplyClick(txtN1.value, txtN2.value)">
<input type="button" value="Divide" (click)="onDivideClick(txtN1.value, txtN2.value)">
<div>{{result}}</div> 
-->